body {
  font-family: "Open Sans", sans-serif;
}

.h-sec {
  display: flex;
  justify-content: space-around;
  background: rgba(235, 80, 120, 0.1);
  margin: 0px 160px 0px 160px;
}

.h-pic {
  width: 280px;
  height: 420px;
  padding: 50px 80px 0px 30px;
}

.section {
  padding: 50px 10px 10px 100px;
}

.sec-title {
  font-weight: 800;
  font-size: 35px;
}

.btn-primary {
  border-radius: 8px;
  background-color: #f07a94;
  padding: 12px 25px 12px 25px;
}

.featured-flower {
  text-align: center;
  padding: 50px 50px;
}

.flower {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 250px;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 200px;
}

.pink-flower {
  display: flex;
  height: 350px;
  width: 340px;
  background-color: #f2dee7;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;

}

.red-flower {
  display: flex;
  height: 350px;
  width: 340px;
  background-color: #d9eff1;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
}

.yellow-flower {
  display: flex;
  height: 350px;
  width: 340px;
  background-color: #e3ebdb;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
}

.pf {
  height: 250px;
  padding-top: 100px;
  padding-left: 95px;
}

.rf {
  height: 250px;
  padding-top: 100px;
  padding-left: 75px;
}

.yf {
  height: 250px;
  padding-top: 100px;
  padding-left: 100px;
}

.help {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  margin: 0px 160px 100px 160px;
}

.delivery-img {
  width: 50px;
  padding: 30px 150px 0px 150px;
}

.lf-img {
  width: 50px;
  padding: 30px 150px 0px 150px;
}

.support-img {
  width: 50px;
  padding: 30px 150px 0px 150px;
}

.delivery-details {
  text-align: center;
}

.lf-details {
  text-align: center;
}

.support-details {
  text-align: center;
}

.offer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: #fef6f8;
  margin: 0px 160px 0px 160px;
  margin-bottom: 100px;
}

.social-text {
  text-align: center;
  margin: 5px;
}

.social-pictures {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0px 100px 50px 100px;
  justify-content: center;
  padding-bottom: 100px;
}

.s-pic1 {
  width: 250px;
}

.s-pic2 {
  width: 250px;
}

.s-pic3 {
  width: 250px;
}

.s-pic4 {
  width: 250px;
}

.news {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
  background-image: url(../images/Rectangle\ 9.png);
  background-size: cover;
  background-position: center;
  margin: 0px 160px 50px 160px;
}

input {
  width: 50%;
  padding: 15px 25px;
  margin: 10px 0;
}

.sec-foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 300px;
  margin: 0px 160px 5px 160px;
}

.f-shop {
  color: white;
}

.f-sec-detail {
  color: rgb(148, 138, 138);
}

.f-details {
  color: darkgray;
  font-size: xx-small;
}